/* ----------- All pages ----------- */


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

:root {
    --default-font:'Comfortaa', cursive;
    --text-color:  white;
    --main-color: ;
    --background-color: #32a039;
    --secondary-color: #226b29;
  }

  *,*::before,*::after{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	font-family: var(--default-font);
    color: var(--text-color);
	padding: 0;
	background-color: var(--background-color);
	background-image: none;
	transition: all .3s ease-in-out;
}

header{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: url(/img/Květiny.jpg);
}


.menu{
    height: 60px;
}

.mgv{
    height: 60px;
    
}





.copyright{
    font-weight: bold;
    font-size: 30px;
    color: var(--text-color);
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    text-decoration: none;
}

.version{
    font-weight: bold;
    font-size: 30px;
    color: var(--text-color);
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    right: 1px;
    text-decoration: none;
   
}



/* ----------- Menu -----------*/

.nadpis{
    text-align: center;
    font-size: 90px;
}
.nadpis-container{
    margin-top: 150px;
}

.Buttons_container{
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button{
    color: var(--text-color);
    background-color: var(--secondary-color);
    transition: color 300ms; 
    transition: background-color 300ms;
    text-align: center;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    text-decoration: none;
    font-size: 50px;
    border-radius: 20px;
    padding: 40px;
     
    
}

.Button:hover, .Button:focus{
    color: var(--secondary-color);
    background-color: var(--text-color);
}


/* ----------- Procvičení ----------- */

.Procvicovani{
    display: flex;
    flex-direction: column;
}

.Progress-HUD{
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.Zadani-a-Odpovedi{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.progressbar_background{
    width: 100%;
    height: 20px;
    background-color: var(--secondary-color);
    border-radius: 22.5px;
}
.progress{
    width: 0px;
    height: 20px;
    transition: width 230ms;
    background: #ffd722;
    border-radius: 22.5px;
}

.progress_numbers{
    margin: 0;
    font-size: 60px;
}

.image_box{
    text-align: center;
}

.options{
        text-align: center;
    }

.option{
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.image{
    height: 600px;
    border-radius: 5px;}

.btn{
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0 0 30px 0;
    width: 80%;
    padding: 30px;
    font-size: 30px;
    border-radius: 20px;
    border: none;
    transition: color 300ms; 
    transition: background-color 300ms; 
    cursor: pointer;
}

.next{
    margin: 40px 0 0 0;
}

.btn:hover, .btn:focus{
    color: var(--secondary-color);
    background-color: var(--text-color);
}

.TF{
    height: 80px;
}

.vysledky{
    display: none;
    font-size: 70px;
    margin-top: auto;
    text-align: center;
}
.vysledky-hodnota{
    font-size: 30px;
}

.vysledky-nadpis{
    font-size: 40px;
    font-weight: bold;
}

.vysledky-vysvetlivka{
    font-size: 20px;
}

.gif{
    border-radius: 20px;
}



/* ----------- Studium ----------- */
    
.colors{
    text-align: center;
}


.colorpick{
    margin: 0 5px 15px 5px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.colorpick:hover, .colorpick:focus{
    transform: scale(1.1);
}

.text{
    color: var(--text-color);
    font-family: var(--default-font);
    text-align: center;
    text-decoration: none;
}
.content{
    text-align: center;
}
.Plants{
    display: block;
    text-align: center;
    border-radius: 5px;
    width: 500px;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    transition: opacity 150ms; 
    
}

.Plants:hover, .Plants:focus{
    opacity: 1;
    z-index: -1;
}

   
h1{
    text-align: center;
    display: block;
    font-size: 30px;
    margin-top: auto;}

h2{
    text-align: center;
    margin-top: 0px; 
    margin-bottom: 50px;
}

.caption{
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
}

/* Novinky */
.verze:first-of-type{
    margin-top: 100px;
}

.verze{
    text-align: left;
    margin-left: 20%;
}

.novina{
    text-align: left;
    margin-left: 23%;
    font-size: 25px;
}



/* mobile */
@media (max-width: 767px) {

    .mgv, .menu{
        height: 30px;
    }
    header{
        padding: 5px;
        margin-bottom: 10px;
    }
    
    .Zadani-a-Odpovedi{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .progress_numbers{
        margin: 0;
        font-size: 30px;
    }
    .image{
        width: 100%;
        height: auto;
    
    }
    .options{
        width: 100%;
    }
    .btn{
        font-size: 25px;
        padding: 10px;
    }
    .TF{
        height: 40px;
    }
    .next{
        
        margin: 20px 0 0 0;
        
    }
    .copyright, .version{
        font-size: 20px;
    }

    .nadpis{
        font-size: 50px;
    }
    .Buttons_container{
        display: flex;
        flex-direction: column;
    }
    .nadpis-container{
        margin-top: 130px;
    }

    .Plants{
        width: 100%;
    }
    .content{
        padding: 10px;
    }
    .novina{
        font-size: 20px;
    }
    .gif{
        width: 90%;
    }

}