.white{
    display: none;

}
.yellow{
    display: none;

}
.red{
    display: none;

}
.blue{
    display: block;

}
.violet{
    display: none;

}
.green{
    display: none;

}
.text-nadpis{
    display: none;
}